.body-container {
  color: var(--dark-font);
  background-color: var(--dark-bg);
}

.grid-center {
  display: grid;
  align-items: center;
  justify-content: center;
}

.flex-align-bottom {
  justify-content: end;
}

.flex-align-end {
  align-items: end;
}
